.sidenav {
    background-color: #222222;
    width: 55px;
}

.sidenav a {
    color: #FFF
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFFFFF;
    color: #000000;
}